<div>

    <label>Title</label>
    <input type="text" name="title" value="<%= book.title == null ? '': book.title %>" required>

</div>
<br>
<div>
    <label>Author</label>
    <select name="author">
    <% authors.forEach(author => { %>
        <% if(author.id === book.author){ %>
            
        <option selected label="<%= author.name %>" value="<%= author.id %>"></option>

       <% } else {  %>
 
        <option label="<%= author.name %>" value="<%= author.id %>"></option>

      <% } %> 

   <% }) %>     
</select>
</div>
<br>

<div>
    <label>Publish Date</label>
    <!--This will return Date in format 2019/08/02-->
    <input type="date" name="publishDate" value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0]  %>" required>
</div>
<br>

<div>
    <label>Page Count</label>
    <input type="number" name="pageCount" min="1" value="<%= book.pageCount == null ? '' : book.pageCount %>" required>
</div>
<br>


<div>
    <label>Cover Image</label>
    <input type="file" name="cover">
</div>
<br>


<div>
    <label>Description</label>
    <textarea name="description">
        <%= book.description  %> 
    </textarea>
</div>